fastapi==0.141.1
uvicorn==0.52.1
python-multipart==0.0.32

cryptography==50.0.0

opencv-contrib-python==4.10.0.84
mediapipe==0.10.35

numpy==1.26.4
pandas==2.2.3
joblib==1.5.3
scikit-learn==1.5.2

torch==2.5.1
torchvision==0.20.1

matplotlib==3.9.2
seaborn==0.13.2
